@import '../../styles/colors.scss';
@import '../../styles/effects.scss';

.component-chip {
  border-radius: 16px;
  display: inline-flex;
  font-size: 1rem;
  align-items: center;

  /* Prevent ripple from overflowing */
  overflow: hidden;

  button {
    background-color: transparent;
    border: none;
  }

  @include apply-palette-backgrounds();
  @include apply-palette-outlined-text();

  &.size-small {
    height: 24px;
    .component-chip-body {
      padding: 0 8px;
    }
  }

  &.size-medium {
    height: 32px;
    .component-chip-body {
      padding: 0 12px;
    }
    
  }

  &.size-large {
    height: 48px;
    .component-chip-body {
      padding: 0 12px;
    }
  }

  &.deletable {
    .component-chip-body {
      padding-right: 4px;
    }
  }

  .component-chip-body {
    display: flex;
    gap: 4px;
    align-items: center;
    height: 100%;
    flex: 1;
    justify-content: center;

    &.with-icon {
      padding-left: 4px;
    }

    .component-icon {
      display: flex;
    }
  }

  .chip-delete-button {
    background-color: transparent;
    border: 0;
    height: 100%;
    display: flex;
    align-items: center;
    
    .component-icon {
      display: flex;
    }
  }
}
