@import '../../styles/animations.scss';
@import '../../styles/colors.scss';
@import '../../styles/util.scss';
@import '../../styles/effects.scss';

.component-snackbar {
  width: 500px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);

  @media screen and (max-width: 560px) {
    width: 300px;
  }

  .component-alert {
    @include zoom-in();
  }

  .snackbar-close-button {
    background: none;
    border: none;
    cursor: pointer;
    @include ripple();

    &:hover {
      opacity: 0.6;
    }

    &:active {
      @include shadow();
    }
  }

  &.disappear {
    opacity: 0;
    @include apply-transition(opacity 0.3s);
  }
}
