@import '../../styles/viewports.scss';

.chat-room {
  .chat-room-messages {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 1.5em auto;
    border: 1px solid gray;
    padding: 16px;
    border-radius: 16px;
    height: 240px;
    overflow-y: auto;

    @media (min-width: $small) {
      height: $small * 3/4;
    }

    @media (min-width: $medium) {
      height: $medium * 1/2;
    }

    @media (min-width: $large) {
      width: 50%;
    }
  }
}