@import '../../styles/viewports.scss';

.chat-room {
  .chat-room-messages {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 1.5em auto;
    border: 1px solid gray;
    padding: 16px;
    border-radius: 16px;

    @media (min-width: $large) {
      width: 50%;
    }
  }
}