@import '../../styles/colors.scss';
@import '../../styles/font.scss';
@import '../../styles/effects.scss';

.component-list-item,
.component-list-item-button,
.component-list-item-button .button {
  @extend .accent-background;
  @extend .theme-emphasis-text;

  &.with-icon, &.with-icon .button {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: row;

    .component-list-item-icon,
    .component-icon {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      text-align: center;
    }

    &.content {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }

  .inset {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  svg {
    vertical-align: middle;
  }
}

.component-list {
  .bolded,
  .bolded .button {
    font-weight: bold;
  }

  .button {
    font-size: inherit;
    font-family: inherit;
  }

  &.size-large > .component-list-item,
  &.size-large > .component-list-item-button .button {
    padding: 24px 12px;
  }

  &.size-medium > .component-list-item,
  &.size-medium > .component-list-item-button .button {
    padding: 16px 8px;
  }

  &.size-small > .component-list-item,
  &.size-small > .component-list-item-button .button {
    padding: 8px 4px;
  }
}

.component-list-item-button {
  .button {
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    display: block;

    @extend .accent-background;
    @extend .theme-emphasis-text;
    @extend .accent-hover;
    @extend .accent-click;
  }
}
