@import '../../styles/colors.scss';
@import '../../styles/font.scss';

.component-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  &.outlined > li {
    border-bottom: 1px solid gray;

    &:last-child {
      border: none;
    }
  }
}
