@import '../../../styles/colors.scss';
@import '../../../styles/font.scss';

.component-list-item {
  @extend .accent-background;
  @extend .theme-emphasis-text;
  font-weight: bold;
}

.component-list {
  &.size-large > .component-list-item {
    padding: 24px 12px;
  }

  &.size-medium > .component-list-item {
    padding: 16px 8px;
  }

  &.size-small > .component-list-item {
    padding: 8px 4px;
  }
}