@import '../../styles/colors.scss';
@import '../../styles/effects.scss';
@import '../../styles/util.scss';

.component-text-field {
  border-radius: 5px;
  border: 1px solid gray;
  outline: 1px solid gray;
  width: 100%;

  @include apply-accent-background();
  @include apply-theme-emphasis-text();
  @media (prefers-reduced-motion: no-preference) {
    transition: outline-color 0.25s ease-in-out;
  }

  &:active:not(:disabled),
  &:focus-visible {
    border: 1px solid transparent;
    outline: 3px solid gray;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.small {
    padding: 8px 4px;
    font-size: 10pt;
  }

  &.medium {
    padding: 16px 8px;
    font-size: 12pt;
  }

  &.large {
    padding: 24px 12px;
    font-size: 14pt;
  }
}

input.component-text-field {
  vertical-align: bottom;
}

textarea.component-text-field {
  resize: none;
  overflow: hidden;
}

.component-helper-text-wrapper {
  display: block;

  &.small {
    width: 200px;
  }

  &.medium {
    width: 250px;
  }

  &.large {
    width: 300px;
  }
  .component-helper-text {
    font-size: 10pt;
    margin-top: 3px;
    @include apply-theme-text();
  }

  .component-label-text {
    margin-bottom: 3px;
    &.large {
      font-size: 11pt;
    }

    &.medium {
      font-size: 9pt;
    }

    &.small {
      font-size: 8pt;
    }
  }

  .disabled {
    color: $text-medium-dark;
  }

  @media (prefers-color-scheme: light) {
    .disabled {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
