.chat-room-dialog {
  .chat-room-dialog-content {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.chat-room-header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
}
