@import '../../styles/util.scss';
@import '../../styles/colors.scss';

@keyframes switch-from-left-to-right {
  from {
    left: -6px;
  }

  to {
    left: 32px;
  }
}

@keyframes switch-from-right-to-left {
  from {
    left: 32px;
  }

  to {
    left: -6px;
  }
}

.component-switch {
}

.component-switch .switch {
  position: relative;
  width: 48px;
  height: 12px;
  border-radius: 16px;
  cursor: pointer;
  background-color: gray;


  .on {
    opacity: 0;
  }

  &:has(:checked) {
    @include apply-palette-backgrounds();

    .switch-icon {
      left: 32px;
    }

    .off {
      opacity: 0;
    }

    .on {
      opacity: 1;
    }
  }

  .switch-icon {
    position: absolute;
    top: -6px;
    left: -6px;
    @include apply-transition(left 0.1s);

    & > span {
      position: absolute;
    }
  }
}

.switch-icon {
  color: white;
}