@import '../../styles/util.scss';
@import '../../styles/colors.scss';
@import '../../styles/font.scss';
@import '../../styles/effects.scss';

.component-button {
  border-radius: 5px;
  border: 0;
  display: inline-flex;
  text-align: center;

  @include apply-palette-effects();

  &.transparent {
    background-color: transparent;
    @include apply-values-for-modes(color, $text-medium-dark, $text-medium-light);
    @include apply-transition(background-color 0.3s);

    &:not(:disabled),
    &:not(.disabled) {
      &:hover {
        background-color: rgba(128, 128, 128, 0.2);
      }

      &:active {
        background-color: rgba(128, 128, 128, 0.4);
      }
    }
  } 

  @include apply-font-sizes();

  &.size-small {
    padding: 8px 4px;
  }

  &.size-medium {
    padding: 16px 8px;
  }

  &.size-large {
    padding: 24px 12px;
  }

  &.with-icon {
    display: inline-flex;
    gap: 4px;
    justify-content: center;
    align-items: center;

    svg {
      vertical-align: middle;
    }
  }
}
