.component-button {
  padding: 16px 8px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

  &.size-small {
    padding: 8px 4px;
  }

  &.size-medium {
    padding: 16px 8px;
  }

  &.size-large {
    padding: 24px 12px;
  }
}