@import '../../styles/colors.scss';
@import '../../styles/font.scss';

.component-typography {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  line-height: 1.5;

  &.emphasis {
    @include apply-theme-emphasis-text();

    // in case a color is applied
    &[class*="text-"] {
      font-weight: bold;
    }
  }

  @include apply-font-sizes();
  @include apply-palette-text();
}