.component-divider {
  border-width: 0 0 thin;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.12);
  margin: 0;

  @media (prefers-color-scheme: light) {
    border-color: rgba(0, 0, 0, 0.12);
  }
}