@import '../styles/colors.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  &.dark,
  &.sb-show-main,
  &.system {
    background-color: $background-dark;
    color: $text-medium-dark;
  }

  &.light {
    background-color: $background-light;
    color: $text-medium-light;
  }

  @media (prefers-color-scheme: light) {
    &.system,
    &.sb-show-main {
      background-color: $background-light;
      color: $text-medium-light;
    }
  }

  &.animations-on {
    transition:
      background-color 0.2s,
      color 0.2s;
  }

  @media (prefers-reduced-motion: no-preference) {
    &.system,
    &.sb-show-main {
      transition:
        background-color 0.2s,
        color 0.2s;
    }
  }
}

main {
  width: 90%;
  margin: 1em auto;
}

body.locked {
  overflow: hidden;
}
