@import '../../styles/colors.scss';

.component-alert {
  /* General */
  width: 100%;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 8px;
  margin-bottom: 8px;

  /* End general */

  @include apply-palette-backgrounds();

  /* Alert title */
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding-top: 8px;

    .component-alert-title {
      margin: 0;
      padding: 0;
    }
  }

  /* End alert title */

  /* Alert content */
  .alert-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    padding-left: 28px;
    padding-bottom: 8px;

    .component-alert-actions {
      justify-self: flex-end;
    }
  }

  /* End alert content */

  /* Alert icon */
  svg {
    display: block;
  }

  /* End of alert icon */
}
