@import '../../../styles/colors.scss';

.component-icon-button {
  border-radius: 50%;
  display: inline-flex;

  .component-icon {
    &.size-large {
      font-size: 24pt;
      padding: 0 16px;
    }

    &.size-medium {
      font-size: 18pt;
      padding: 0 8px;
    }

    &.size-small {
      font-size: 12pt;
      padding: 0 5px;
    }
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
}
