@import '../../styles/colors.scss';
@import '../../styles/util.scss';

.component-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  @include apply-transition(background-color 0.3s);

  .pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

  .component-page-item {
    background: none;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    @include apply-values-for-modes(color, white, black);
    @include apply-transition(background-color 0.2s, color 0.2s);

    &:hover:not(:disabled),
    &:focus-visible {
      @include apply-values-for-modes(
        background-color,
        rgba(255, 255, 255, 0.08),
        rgba(0, 0, 0, 0.08)
      );
    }

    &.selected {
      @include apply-values-for-modes(
        background-color,
        rgba(255, 255, 255, 0.16),
        rgba(0, 0, 0, 0.16)
      );
    }

    &:disabled {
      opacity: 0.8;
      color: gray;
    }

    &.invisible {
      visibility: hidden;
    }

    svg {
      vertical-align: middle;
    }
  }
}
