@import '../../styles/colors.scss';

.component-checkbox {
  cursor: pointer;
  display: flex;
  gap: 4px;
  text-align: center;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:has(:focus-visible) {
    .checkbox {
      outline: 3px solid #50dfff;
    }
  }

  &.right,
  &.left {
    flex-direction: row;
    align-items: center;
  }

  &.top,
  &.bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.left,
  .top {
    .checkbox {
      order: 2;
    }

    .component-checkbox-label {
      order: 1;
    }
  }

  &.right,
  &.bottom {
    .checkbox {
      order: 1;
    }

    .component-checkbox-label {
      order: 2;
    }
  }

  .checkbox {
    border: 3px solid gray;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (prefers-reduced-motion: no-preference) {
      transition: background-color 0.1s;
    }
    overflow: hidden;

    svg {
      display: block;
    }

    .component-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.small {
      width: 12px;
      height: 12px;
      border-radius: 2px;
      border: 2px solid gray;
    }

    &.medium {
      width: 24px;
      height: 24px;
    }

    &.large {
      width: 36px;
      height: 36px;
    }
  }

  &.checked, &:has(:checked) {
    .checkbox {
      border: 3px solid transparent;

      &.small {
        border: 2px solid transparent;
      }

      @media (prefers-reduced-motion: no-preference) {
        transition: border-color 0.1s;
      }

      .component-icon {
        visibility: visible;
      }
    }
  }

  &.unchecked, &:not(:has(:checked)) {
    .checkbox {
      background-color: transparent;
    }
  }
}
