@use 'sass:list';

@keyframes fadeInTransparently {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@mixin fadeInFromTransparentToSemiTransparent($time: 0.3s) {
  @media (prefers-reduced-motion: no-preference) {
    animation: fadeInTransparently $time;
  }
}

@mixin fadeInFromTransparentToOpaque($time: 0.3s) {
  @media (prefers-reduced-motion: no-preference) {
    animation: fadeIn $time;
  }
}

$sides: ('left', 'right', 'top', 'bottom');

@each $side in $sides {
  @keyframes slide-in-from-#{$side} {
    from {
      #{$side}: -5000px;
    }
    to {
      #{$side}: 0;
    }
  }
}

@mixin slide-in-from($s, $time: 1s) {
  @media (prefers-reduced-motion: no-preference) {
    animation: slide-in-from-#{$s} $time;
  }
}

@mixin zoom-in($time: 0.2s) {
  @media (prefers-reduced-motion: no-preference) {
    animation: zoomIn $time;
  }
}
