@use 'sass:map';

$primary-colors: (
  'light': #4d3ab7,
  'dark': #9c88fd,
  'contrast-text-light': white,
  'contrast-text-dark': black,
);

$secondary-colors: (
  'light': #ffd637,
  'dark': #ffe478,
  'contrast-text-light': black,
  'contrast-text-dark': black,
);

$error-colors: (
  'light': #e53935,
  'dark': #ff9999,
  'contrast-text-light': white,
  'contrast-text-dark': black,
);

$palette: (
  'primary': $primary-colors,
  'secondary': $secondary-colors,
  'error': $error-colors,
);

@each $color, $values in $palette {
  .background-#{$color} {
    background-color: map.get($values, 'dark');

    &:disabled,
    & :disabled {
      background-color: rgba(255, 255, 255, 0.12);
    }

    @media (prefers-color-scheme: light) {
      background-color: map.get($values, 'light');

      &:disabled,
      & .disabled {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }

  .text-on-#{$color} {
    color: map.get($values, 'contrast-text-dark');

    &:disabled,
    & :disabled {
      color: rgba(255, 255, 255, 0.3);
    }

    @media (prefers-color-scheme: light) {
      color: map.get($values, 'contrast-text-light');

      &:disabled,
      & .disabled {
        color: rgba(0, 0, 0, 0.26);
      }
    }
  }

  .#{$color} {
    @extend .text-on-#{$color};
    @extend .background-#{$color};

    @media (prefers-reduced-motion: no-preference) {
      transition:
        background-color 0.2s,
        color 0.2s;
    }
  }
}

$background-dark: #121212;
$background-light: #e9e4e4;
$accent-light: white;
$accent-dark: #383838;
$text-emphasis-dark: rgba(255, 255, 255, 0.87);
$text-medium-dark: rgba(255, 255, 255, 0.6);
$text-emphasis-light: black;
$text-medium-light: #0e0e0e;
$shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

.theme-background {
  background-color: $background-dark;

  @media (prefers-color-scheme: light) {
    background-color: $background-light;
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.2s;
  }
}

.accent-background {
  background-color: $accent-dark;
  &:disabled,
  & :disabled {
    background-color: rgba(255, 255, 255, 0.12);
  }

  @media (prefers-color-scheme: light) {
    background-color: $accent-light;

    &:disabled,
    & .disabled {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.2s;
  }
}

.theme-text {
  color: $text-medium-dark;

  &:disabled,
  & :disabled {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (prefers-color-scheme: light) {
    color: $text-medium-light;
    &:disabled,
    & .disabled {
      color: rgba(0, 0, 0, 0.26);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.2s;
  }
}

.theme-emphasis-text {
  color: $text-emphasis-dark;
  &:disabled,
  & :disabled {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (prefers-color-scheme: light) {
    color: $text-emphasis-light;
    &:disabled,
    & .disabled {
      color: rgba(0, 0, 0, 0.26);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.2s;
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
