@mixin applyEffectTheme($hoverBg, $hoverText, $clickBg, $clickText) {
  &:hover, &:focus {
    background-color: $hoverBg;
    color: $hoverText;
  }

  &:active {
    background-color: $clickBg;
    color: $clickText;
  }
}

$primary-hover-effect: #531ce9;
$primary-click-effect: #3000b3;

$secondary-hover-effect: #e3b914;
$secondary-click-effect: #a98d1d;

$error-hover-effect: #cc0000;
$error-click-effect: #a50101;
.primary-effects {
  @include applyEffectTheme($primary-hover-effect, white, $primary-click-effect, white);
}

.secondary-effects {
  @include applyEffectTheme($secondary-hover-effect, black, $secondary-click-effect, black);
}

.error-effects {
  @include applyEffectTheme($error-hover-effect, white, $error-click-effect, white);
}

.accent-hover {
  &:hover {
    background-color: rgba(202, 202, 202, 0.5);
  }

  &:focus {
    outline: 3px solid gray;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.4);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background-color 0.2s,
      outline-color 0.2s;
  }
}

.accent-click {
  &:active:not(:disabled) {
    background-color: rgba(202, 202, 202, 0.7);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.2s;
  }
}
