$primary-hover-effect: #531ce9;
$primary-click-effect: #3000b3;

.primary-hover:hover {
  background-color: $primary-hover-effect;
  color: white;
}

.primary-click:active {
  background-color: $primary-click-effect;
}

.accent-hover {
  &:hover {
    background-color: rgba(202, 202, 202, 0.5);
  }

  &:focus {
    outline: 3px solid gray;
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.2s, outline-color 0.2s;
  }
}

.accent-click {
  &:active {
    background-color: rgba(202, 202, 202, 0.7);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.2s;
  }
}